#colophon > div > a.site-name {
  display: none;
}

#colophon > aside {
  background-color: yellow;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

#colophon > .widget-column {
  display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
}

#block-14 > div > div > h2, #block-15 > div > div > h2 {
  color: #1D1D1B;
}

#block-14 > div > div > p:nth-child(2), #block-14 > div > div > p:nth-child(3) {
  color: #1D1D1B;
}

#colophon .site-info {
  display: none;
}


#post-12 > footer > span {
  display: none;
}

/* footer {
  display: none;
} */

#post-12
  > div
  > div
  > section.elementor-section.elementor-top-section.elementor-element.elementor-element-6ddc6fa.elementor-section-boxed.elementor-section-height-default.elementor-section-height-default
  > div
  > div.elementor-column.elementor-col-33.elementor-top-column.elementor-element.elementor-element-112cd0c
  > div
  > div.elementor-element.elementor-element-98cdaf2.elementor-widget.elementor-widget-text-editor
  > div
  p {
  color: black;
}

#post-319
  > div
  > div
  > section.elementor-section.elementor-top-section.elementor-element.elementor-element-9b3a6c1.elementor-section-stretched.elementor-section-boxed.elementor-section-height-default.elementor-section-height-default
  p {
  color: black;
}

#post-20
  > div
  > div
  > section.elementor-section.elementor-top-section.elementor-element.elementor-element-d831552.elementor-section-stretched.elementor-section-boxed.elementor-section-height-default.elementor-section-height-default
  p {
  color: black;
}

#post-15
  > div
  > div
  > section.elementor-section.elementor-top-section.elementor-element.elementor-element-228aede.elementor-section-stretched.elementor-section-boxed.elementor-section-height-default.elementor-section-height-default
  p {
  color: black;
}

#post-12
  > div
  > div
  > section.elementor-section.elementor-top-section.elementor-element.elementor-element-6ddc6fa.elementor-section-stretched.elementor-section-boxed.elementor-section-height-default.elementor-section-height-default
  > div
  > div.elementor-column.elementor-col-33.elementor-top-column.elementor-element.elementor-element-6f101e2
  > div
  > div.elementor-element.elementor-element-942d1c8.elementor-hidden-desktop.elementor-widget.elementor-widget-text-editor
  > div
  > p:nth-child(2)
  p {
  color: black;
}

#post-12
  > div
  > div
  > section.elementor-section.elementor-top-section.elementor-element.elementor-element-6ddc6fa.elementor-section-stretched.elementor-section-boxed.elementor-section-height-default.elementor-section-height-default
  > div
  > div.elementor-column.elementor-col-33.elementor-top-column.elementor-element.elementor-element-6f101e2
  > div
  > div.elementor-element.elementor-element-942d1c8.elementor-hidden-desktop.elementor-widget.elementor-widget-text-editor
  > div
  > p:nth-child(1)
  p {
  color: black;
}

#post-12
  > div
  > div
  > section.elementor-section.elementor-top-section.elementor-element.elementor-element-6ddc6fa.elementor-section-stretched.elementor-section-boxed.elementor-section-height-default.elementor-section-height-default
  > div
  > div.elementor-column.elementor-col-33.elementor-top-column.elementor-element.elementor-element-6f101e2
  > div
  > div.elementor-element.elementor-element-942d1c8.elementor-hidden-desktop.elementor-widget.elementor-widget-text-editor
  > div
  p {
  color: black;
}

#post-12 > div > div {
  margin: 0;
}

#post-319 > div > div {
  margin: 0;
}

#post-20 > div > div {
  margin: 0;
}

#post-15 > div > div {
  margin: 0;
}

@font-face {
  font-family: Specialelite;
  src: url(fonts/specialelite-regular-webfont.woff2);
}

@font-face {
  font-family: Noto Sans Mono;
  src: url(fonts/notosansmono-variablefont_wdthwght-webfont.woff2);
}

#post-12 h3,
#post-319 h3,
#post-20 h3,
#post-15 h3 {
  font-family: "Specialelite", sans-serif;
}

#post-12 p,
#post-319 p,
#post-20 p,
#post-15 p {
  font-family: "Noto Sans Mono", sans-serif;
}

@media only screen and (max-width: 390px) {
 
  #colophon .widget-column{
  display: flex;
  flex-direction: column;
  }
  }